body {
	background-color: grey;
}
#nameTable {
	float: left;
}
td {
	border: 1px solid black;
}
#banner{
	background-color: rbg(21, 52, 103);
	text-align: center;
}
#introduction{
	position: absolute;
	left: 50%;
}


#body{
	min-width: 780px;
	width: 60%;
	left: 50%;
	transform: translate(-50%,0);
	height: 100vh;
	background-color: lightgrey;
	position: absolute;
	margin-top: 0px;
}
