#nameTable {
	float: left;
}
td {
	border: 1px solid black;
}
#banner{
	background-color: #153467;
	text-align: center;
	height: 50px;
}
#introduction{
	position: absolute;
	left: 50%;
}


#body{
	min-width: 780px;
	width: 60%;
	left: 50%;
	transform: translate(-50%,0);
	height: 100vh;
	background-color: #8c92ac;
	position: absolute;
	margin-top: 0px;
	border: 1px solid #153467;
}

#innerBody{
        margin: 20px;
}

body{
	background-color: #aaa9ad;
}
